<div class="container-modal">
  <div class="close-modal">
    <button (click)="onConfirmClick()">
      <svg xmlns="http:///www.w3.org/2000/svg" width="24" height="24" fill="#a8a8b3" viewBox="0 0 256 256" fill="none"></svg>
    </button>
  </div>
  <div class="modal-content">
    <div class="image-user">
      <img [src]="userData.picture.thumbnail">
    </div>
    <div class="info-user-modal">
      <p><strong>Nome:</strong>{{userData.name.first}}</p>
      <p><strong>E-mail:</strong>{{userData.email}}</p>
      <p><strong>Celular:</strong>{{userData.cell}}</p>
      <p><strong>Idade:</strong>{{userData.dob.age}}</p>
    </div>
  </div>
</div>
