<div class="container-home">
  <div class="content-home">
    <h1>Lista de alunos do curso de Angular</h1>
    <form [formGroup]="searchForm">
      <div class="filter-form">
        <div>
          <label htmlfor="nome">Pesquisar</label>
          <input
          type="text"
          id="nome"
          placeholder="Nome do aluno"
          formControlName="nameStudent"
          (keyup)="searchValue('name')"
          />
        </div>
        <div>
          <label htmlfor="Nacionalidade">Nacionalidade</label>
          <select
          name="nacionalidade"
          id="nacionalidade"
          formControlName="nationality"
          (change)="searchValue('nation')">
            <option value="">Todos</option>
            <ng-container *ngFor="let nation of dataUser">
              <option [value]="nation.location.country">{{nation.location.country}}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </form>
    <table class="table-content">
      <ng-container *ngIf="!error">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Nacionalidade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of (dataUser) | arrayFiltro : filter : typeFilter">
            <td>{{user.name.first}} {{user.name.last}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.location.country}}</td>
            <td>
              <button (click)="openModal(user)">Visualizar</button>
            </td>
          </tr>
        </tbody>
      </ng-container>
      <ng-container *ngIf="error">
        <h1>Erro!</h1>
        <button>Recarregar</button>
      </ng-container>
    </table>
  </div>
</div>
