<div class="container-home">
  <div class="content-home">
    <h1>Lista de alunos</h1>
    <div class="filter-form">
      <div>
        <label htmlfor="nome">Pesquisar</label>
        <input type="text" id="nome" placeholder="Nome do aluno" />
      </div>
      <div>
        <label htmlfor="Nacionalidade">Nacionalidade</label>
        <select name="nacionalidade" id="nacionalidade">
          <option value="">Todos</option>
        </select>
      </div>
    </div>
    <table class="table-content">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sexo</th>
          <th>Nacionalidade</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Junior</td>
          <td>Masculino</td>
          <td>Brasileiro</td>
          <td>
            <button>Visualizar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
